{% extends "base.html" %}

{% block header %}
<h1 class="text-center mt-5">Thank you {{user.firstName}}. You have successfully registered.</h1>

<a class="text-center d-block" href="/signup">Register another user?</a>
{% endblock %}